@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg-color: #bdbdc0;
$primary-color: #0b003d;

body, html, #app {
  width: 100%;
  height: 100%;
  background: $bg-color;
  font-family: 'Roboto', sans-serif;
}

.brand-text {
  font-size: 1.2em;
  font-weight: bold;
}

#grades-form {
  margin-top: 50px;

  .text-center {
    color: $primary-color;
  }
}

#gold-line {
  width: 100%;
  height: 5px;
  background: gold;
  margin: 5px 0px;
  padding: 0px;
}

.top-bar {
  background-color: $primary-color;
  color: white;

  a {
    background-color: $primary-color;
    color: white;
  }
}
