@import 'mixins';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body, html, #app {
  width: 100%;
  height: 100%;
  background: $bg-color;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  margin: 10px 0px;
  color: $primary-color;
}

h2 {
  margin-top: 25px;
  color: $primary-color;
}

hr {
  background: $accent-color;
  height: 2px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 15%;
}

tr {
  cursor: pointer;
}

.select {
  margin-bottom: 20px;
}

.bottom-links {
  margin: 5px 15px;
}

.brand-text {
  font-size: 1.2em;
  font-weight: bold;
}

#grades-form {
  margin-top: 50px;

  .text-center {
    color: $primary-color;
  }

  button {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}

.auth-form {
  margin-top: 50px;

  button {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}

.auth-header-text {
  margin-top: 50px;
  text-align: center;
}

.inline-form {
  button {
    border-radius: 4px;
    height: 34px;
    width: 90px;
    background-color: $primary-color;

    &:hover {
      background-color: $primary-hover-color;
    }
  }

  input {
    border-radius: 4px;
    height: 36px;
  }

  input, .Select {
    width: 40%;
    display: inline;
    float: left;
    margin-right: 10px;
  }
}

.gold-line {
  width: 100%;
  height: 7px;
  background: $accent-color;
  margin: 3px 0px;
  padding: 0px;
}

.pre-stats-text {
  @include center-elements;
  height: 200px;
  padding-left: 2.0rem;
  color: $primary-color;
}

.stats-container {
  margin: 50px auto;
  color: $primary-color;
  text-align: center;
}

.chart-container {
  @include depth-shadow;
  background: white;
  width: 100%;
}

.error-message {
  width: 50%;
  margin: 5em auto;

  .callout {
    color: #c0392b;
  }
}

.assessments-table {
  @include depth-shadow;
  margin-bottom: 30px;
}

.class-container {
  @include center-elements;
  @include transition-shadow;
  display: block;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: white;
  padding-top: 10px;
  padding-left: 15px;
}

.delete-button {
  color: #c0392b;
}

/* Navbar Styles */
.nav-container, .menu, .top-bar, .top-bar ul {
  background-color: $primary-color;
}

.top-bar {
  background-color: $primary-color;
  color: white;
  padding: 0px;

  .top-bar-right {
    padding: 0px;
    height: 100%;

    a {
      @include center-elements;
      background-color: $primary-color;
      color: white;
      height: 3.2em;
      margin: 0px;
      font-weight: 600;
      font-family: 'PT Sans', sans-serif;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }

  .top-bar-left {
    padding: 0px;
    height: 100%;

    a {
      @include center-elements;
      background-color: $primary-color;
      color: white;
      margin: 0px;
      height: 2.1em;
      font-size: 24px;
      font-family: 'Pacifico', sans-serif;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }
}

/* Spinner Styles */
.loading-spinner {
  color: $accent-color;
}

.spinner-container {
  width: 100px;
  height: 100px;
  margin: 20% auto;
}
