@import 'mixins';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body, html, #app {
  width: 100%;
  height: 100%;
  background: $bg-color;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  margin: 30px 0px;
  color: $primary-color;
}

.bottom-links {
  margin: 5px 15px;
}

h2 {
  margin-top: 25px;
  color: $primary-color;
}

.brand-text {
  font-size: 1.2em;
  font-weight: bold;
}

#grades-form {
  margin-top: 50px;

  .text-center {
    color: $primary-color;
  }

  button {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}

.gold-line {
  width: 100%;
  height: 7px;
  background: #f1c40f;
  margin: 3px 0px;
  padding: 0px;
}


//==================================
// Navbar Styles
//==================================
.nav-container, .menu, .top-bar, .top-bar ul {
  background-color: $primary-color;
}

.top-bar {
  background-color: $primary-color;
  color: white;
  padding: 0px;

  .top-bar-right {
    padding: 0px;
    height: 100%;

    a {
      @include center-elements;
      background-color: $primary-color;
      color: white;
      height: 3.2em;
      margin: 0px;
      font-weight: 600;
      font-family: 'PT Sans', sans-serif;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }

  .top-bar-left {
    padding: 0px;
    height: 100%;

    a {
      @include center-elements;
      background-color: $primary-color;
      color: white;
      margin: 0px;
      height: 2.1em;
      font-size: 24px;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }
}

.chart-container {
  @include depth-shadow;
  width: 100%;
}

.assessments-table {
  @include depth-shadow;
  margin-bottom: 75px;
}
