{
  "env": {
    "development": {
      "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-0"
      ],
      "plugins": ["babel-plugin-styled-components", "react-hot-loader/babel"]
    },
    "production": {
      "presets": [
        "env",
        "react",
        "stage-0"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react",
        "stage-0"
      ]
    }
  }
}
